@import url(https://fonts.googleapis.com/css?family=Rye);


html, body {
    height:100%;
}

.bg-image {
    background-image: url(../img/the_fortune_tellers_tent__by_x_cannibal_dfasjsn-pre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*png svg image of clipart*/
.banner {
    position: absolute;
    left: 50%;
    top: 10%;
    display: block;
    margin: 100px -200px;
    width: 400px;
    height: 60px;
    border: 1px solid rgb(245, 218, 130);
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: rgb(53, 63, 23);
    background:rgb(255, 228, 140);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,3,.15) inset,
                        0 6px 10px rgba(0,0,3,.15);
    transform-style: preserve-3d;
  }

  .banner::before {
    content: '';
    position:absolute;
    left: -71px;
    z-index: -1;
    top: 15px;;
    width: 90px;
    display: block;
    height: 60px;
    border: 30px solid rgb(255, 228, 140);
    border-right: 20px solid rgb(194, 173, 105);
    border-bottom-color: rgb(255, 228, 140);
    border-left: 20px solid transparent;
    transform: translateZ(-1px) rotate(-5deg);
  }

  .banner::after {
    content: '';
    position:absolute;
    z-index: -1;
    left: 380px;
    top: 15px;
    width: 90px;
    display: block;
    height: 60px;
    border: 30px solid rgb(255, 228, 140);
    border-left: 20px solid rgb(194, 173, 105);
    border-bottom-color: rgb(255, 228, 140);
    border-right: 20px solid transparent;
    transform: rotate(5deg);
    transform: translateZ(-1px) rotate(6deg);
  }

.back-tent-button {
    width: 30%;
}

ion-icon {
    color:bisque;
    font-size: 64px;
    -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
  display: inline-block;
}

.front-arrow-one {
    color:bisque;
    -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
  width:110%
}

/*.first-body {
    background-image: url(img/the_fortune_tellers_tent__by_x_cannibal_dfasjsn-pre.jpg)
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover 
}



/*#title {
    display: flex;
    justify-content: center;
}

#title h1 {
    background-color: blanchedalmond;
    padding: 5px;
    margin: 0;
}

*/
#door {
    position: absolute;
    left: 42%;
    top: 54%;
    width: 14%;
    border-radius: 100px;
    opacity: 4;
}

#door:hover {
    filter: brightness(150%);
}

.animate__animated.animate__heartBeat {
    --animate-duration: 2s;
}

.fireflies {
    list-style: none;
}


.fireflies li {
/*rounds out the boxes into circles*/
border-radius: 50%;
/*fireflies colors, background color with radial gradient and box shadow gives glowing effect*/
background-color: rgb(255, 255, 73);
/*radial gradient progressive transition of the 3 colors*/
background-image: 
radial-gradient(rgb(249, 206, 36) 5%,
                rgb(254, 179, 4) 25%,
                rgb(252, 191, 7) 60%);
/*box shdaow creates the light glow*/             
box-shadow: 
    0 0 5px 2px rgb(250, 193, 93),
    0 0 20px 10px rgb(255, 228, 140),
    0 0 40px 15px rgb(255, 219, 41);
height: 0px;
width: 0px;

position: absolute;
left: 49.5%;
top: 68%;

/*animation ran at the numbered value and is set to an infinite loop*/
/*cubic bezier smoothes out the animation motion*/
/*the cubic bezier values set makes the fireflies transition start slowl*/
/*and then will speed up and slow down again through out the animation*/
animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1),
updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1),
blinking 3s infinite;

}

/*target individual li's with the animation effects*/
li:nth-of-type(1) {
    /*value determines how long before animation starts*/
    animation-delay: 1s;
    /*values determines the duration of the multiple animations*/
                       /*lr, ud and blink*/
    animation-duration: 65s, 81s, 0.01s;
    /*value backwards allows the delayed targets to have the animation values while delayed*/
    animation-fill-mode: backwards, backwards;
}

li:nth-of-type(2) {
    animation-delay: 0.5s;
    animation-duration: 80s, 75s, 0.01s;
}
  
li:nth-of-type(3) {
    animation-delay: 1.5s;
    animation-duration: 70s, 60s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(4) {
    animation-delay: 2.5s;
    animation-duration: 90s, 80s, 0.01s;
}
  
li:nth-of-type(5) {
    animation-delay: 0.3s;
    animation-duration: 55s, 75s, 0.01s;
}
  
li:nth-of-type(6) {
    animation-delay: 2.2s;
    animation-duration: 79s, 63s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(7) {
    animation-delay: 0.9s;
    animation-duration: 70s, 80s, 0.01s;
}
  
li:nth-of-type(8) {
    animation-delay: 1.6s;
    animation-duration: 50s, 40s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(9) {
    animation-delay: 1.8s;
    animation-duration: 77s, 88s, 0.01s;
}
  
li:nth-of-type(10) {
    animation-delay: 3s;
    animation-duration: 87s, 73s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(11) {
    animation-delay: 1s;
    animation-duration: 60s, 78s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(12) {
    animation-delay: 0.5s;
    animation-duration: 85s, 80s, 0.01s;
}
  
li:nth-of-type(13) {
    animation-delay: 1.5s;
    animation-duration: 75s, 66s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(14) {
    animation-delay: 2.5s;
    animation-duration: 87s, 75s, 0.01s;
}
  
li:nth-of-type(15) {
    animation-delay: 0.3s;
    animation-duration: 69s, 85s, 0.01s;
}
  
li:nth-of-type(16) {
    animation-delay: 2.2s;
    animation-duration: 80s, 77s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(17) {
    animation-delay: 0.9s;
    animation-duration: 65s, 88s, 0.01s;
}
  
li:nth-of-type(18) {
    animation-delay: 1.6s;
    animation-duration: 59s, 63s, 0.01s;
    animation-fill-mode: backwards, backwards;
}
  
li:nth-of-type(19) {
    animation-delay: 1.8s;
    animation-duration: 88s, 79s, 0.01s;
}
  
li:nth-of-type(20) {
    animation-delay: 3s;
    animation-duration: 59s, 75s, 0.01s;
    animation-fill-mode: backwards, backwards;
}

/*controls left and right movements*/
/*left refers to the absolute position on the page*/
@keyframes leftright {
  /*starting postion*/
    0%,
    100% {
        left: 49.5%;
    }
  
    16.666% {
        left: 95%;
    }
  
    33.333% {
        left: 10%;
    }
  /*halfway through the animation*/
    50% {
        left: 60%;
    }
  
    66.666% {
        left: 70%;
    }
  
    83.333% {
        left: 5%;
    }
}
  
/*controls the up and down*/
/*top refers to the absolute position on the page*/
@keyframes updown {
  /*starting position*/
    0%,
    100% {
        top: 68%;
    }
  
    25% {
        top: 90%;
    }
  
    50% {
        top: 50%;
    }
  
    75% {
        top: 95%;
    }
}
  

/*controls the blinking*/
@keyframes blinking {
    /*use the blur and spread radius only*/
    0%,
    100% {
        box-shadow: 0 0 5px 2px rgb(250, 193, 93), 
                    0 0 10px 5px rgb(255, 242, 63),
                    0 0 30px 10px rgb(255, 219, 41);
        height: 0;
        width: 0;
    }
  
    50% {
        box-shadow: 0 0 5px 2px rgb(250, 193, 93), 
                    0 0 20px 10px rgb(255, 228, 140),
                    0 0 40px 15px rgb(255, 219, 41);
    }
  
    75% {
        box-shadow: 0 0 0px 0px rgb(250, 193, 93), 
                    0 0 0px 0px rgb(255, 228, 140),
                    0 0 0px 0px rgb(255, 219, 41);
    }
}

@media screen and (max-width: 768px) {

    #door {
        position: absolute;
        left: 42%;
        top: 54%;
        width: 15%;
        border-radius: 100px;
        opacity: 4;
    
    }

    .banner {

    }

    #bannerL {

    }

    #bannerR {

    }
}

@media screen and (max-width: 428px) {

    #door {
        position: absolute;
        left: 41%;
        top: 53%;
        width: 18%;
        border-radius: 100px;
        opacity: 4;
    
    }
}

/* Third page css starts here */

#page-3-container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url(https://i.etsystatic.com/18697140/r/il/e22680/2886990481/il_1588xN.2886990481_clz7.jpg);
    background-size: 100% 100%;
}

#page-3-title-container {
    border: 1px solid;
    margin: 5px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 22%;
    border-radius: 15px;
}

#page-3-title {
    font-size: 4rem;
}

#fortunes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    height: 400px;
    width: 55%;
    perspective: 1100px;
}

#fortunes-container:last-child {
    justify-content: center;
}

.fortune {
    text-align: center;
    font-size: 2rem;
    border: 1px solid;
    margin: 5px;
    width: 30%;
    height: 100px;
    background-color: white;
    transform-style: preserve-3d;
    transform: rotateX(35deg);
    transition: all 0.3s ease-in-out 0s;
}

.fortune:hover {
    cursor: pointer;
    transform: rotate('360deg');
}

.card {
    background-color: white;
    border: 1px solid;
}

.closeButton {
    background-color: white;
}

.hide {
    display: none;
}

/* start of 2nd page */
.second-body {
    background-image: url(../img/Crystal-ball.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color:bisque;
} 

.crystalBall {
    display: flex;
    position: absolute;
    left: 28%;
    top: 5%;
    width: 40%;
    opacity: 0%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
.imageTest img {
    position: absolute;
    top: 22%;
    left: 43%;
    height: 80px;
    width: auto;
}

.imageTest img:nth-of-type(1) {
    animation-name: giphy;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.imageTest img:nth-of-type(2) {
    animation-name: giphyTwo;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}


@keyframes giphy {
    0% { 
        top: 22%;
        left: 43%;
    }
 
    100% {
        top: 14%;
        left: 5%;
        height: auto;
        width: auto;
    }
  }

  @keyframes giphyTwo {
    0% { 
        top: 22%;
        left: 43%;
    }
 
    100% {
        top: 45%;
        left: 5%;
        height: auto;
        width: auto;
    }
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11rem;
    background-color:bisque;            /* Footer height */
  }

.buttonsInside {
    background-color:rgba(255, 0, 0, 0.74);
    font-family: fantasy;
}

#moonIconOne {
    margin-left: 10%;
    background-color: rgba(255, 0, 0, 0.74);
}
#moonIconTwo {
    margin-left: 70%;
    background-color:  rgba(255, 0, 0, 0.74);
}

